.main__article-title {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.main__article-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(144, 144, 144, 0.664);
  margin-bottom: 16px;
}
